//////Block/////////
$color-img-txt: #ff9f1c;
$color-img-hover: #fdfffc;
$color-portfolio-back: #e9e9e9;
$color-img-txt-dark: #941b0c;

#portfolio{
  padding-top: 2rem;
  text-align: center;
  font-family: Lato, Arial;
  .header__secondary{
    margin: 1.5rem 0;
  }

  .left{
    background-color: $color-portfolio-back
  }
  .img-block{
    box-sizing: border-box;
    padding: 3rem 0;
    height: auto;
    &:not(:last-child){
      padding-bottom: 2rem;
    }
    &__img{
      border-radius: .5rem;
      img{
        width: 70%;
        height: auto;
        overflow: hidden;
        padding: 0 !important;
        border: none !important;
      }
    }
    &__txt{
      padding: 2rem 6rem;
      font-size: 1.3rem;
      line-height: 2rem;
      h2{
        padding-bottom: .7rem;
        text-align: center;
        width: auto;
          font-size: 2rem;
          font-weight: 900;
          color: transparent;
          background-image: linear-gradient(
            to bottom right,
            rgba(#ff9f1c, 1),
            rgba(#941b0c, 0.9)
          );
          -webkit-background-clip: text;
      }
    }
  }
}

@media screen and (min-width: 750px){
  #portfolio{
    .header__secondary{
      padding-bottom: 2rem;
      font-size: 4rem;
    }
    padding-top: 2rem;
    .img-block{
      &__img{
        padding: 0;
      }
      &__txt{
        padding: 3rem 1.5rem;
        font-size: 2.2rem;
        line-height: 3rem;
        h2{
          padding-bottom: 1.5rem;
          font-size: 3rem;
          color: transparent;
        }
      }
    }
  }
}

@media screen and (min-width: 1000px){
  #portfolio{
    .header__secondary{
      padding-bottom: 1rem;
      font-size: 5rem;
    }
    padding-top: 3rem;
    .left{
      background-color: $color-portfolio-back;
    }
    .img-block{
      padding: 50px 70px;
      height: 400px;
      &__img{
        top: 50%;
        transform: translateY(-50%)
      }
      img{
        border: none;
        padding: 0 !important;
        height: auto;
        width: 70%;
        box-shadow: 10px 10px 15px 2px rgba(0,0,0,.5);
        &:hover{
          transform: scale(1.3)
        }
      }
      &__txt{
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.8rem;
        padding-left: 1rem;
        line-height: 3rem;
        text-align: left;
        h2{
          text-align: left;
          padding-bottom: 1.5rem;
          font-size: 2.3rem;
          color: transparent;
        }
      }
    }
  }
}
